asgiref==3.11.1
asyncio==3.4.3
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
bidict==0.22.1
cbor2==5.8.0
certifi==2022.12.7
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.5
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
Django==6.0.3
hyperlink==21.0.0
idna==2.10
Incremental==24.11.0
msgpack==1.1.2
neo-api-client @ git+https://github.com/Kotak-Neo/Kotak-neo-api-v2.git@1533903cb5db1a50892223b404d753dbc8fba50e
numpy==2.1.0
packaging==26.0
pandas==2.2.3
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pyjsparser==2.7.1
PyJWT==2.6.0
pyOpenSSL==25.3.0
pyotp==2.9.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2026.1.post1
requests==2.32.3
service-identity==24.2.0
six==1.16.0
sqlparse==0.5.5
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
urllib3==1.26.14
websocket-client==1.8.0
websockets==8.1
duckdb==1.18.0
zope.interface==8.2
